<footer>
    <small class="footer-copyright">
      Copyright &copy; <a href="https://www.udemy.com" class="footer-link">The Complete Ruby on Rails Developer</a>
      by <a href="http://www.abrahanmendoza.com" class="footer-link">Abrahan Mendoza</a>
    </small>

    <small class="footer-links">
      <%= link_to 'About', pages_about_path, class: 'footer-item' %>
    </small>
</footer>